@model Portal.Model.ViewModel.ProfileViewModel

@{
    ViewBag.Title = "Account Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="clrfix">
    <div class="g-grid global-sub-header l-pad-vert-4 l-sm-pad-vert-3">
        <div class="g-group">
            <div class="g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-6-12">
                <h1 class="text-heading-primary text-body--significant">@ViewBag.Title</h1>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="l-pad-bot-5 l-sm-pad-bot-3 g-grid g-group">

            <div class="g-vertical-group g-cell-12-12 g-cell-lg-3-12 l-mar-top-4">
                <div class="g-cell g-cell-3-3">

                    <div class="js-d-toggle">
                        <div class="side-nav side-nav__toggle-view js-xd-toggle-view js-d-accordion">
                            <div class="side-nav__group">
                                <h3 class="js-xd-accordion-header side-nav__header side-nav__header--has-action is-selected">
                                    <i class="ico-settings ico--bullet"></i>Settings
                                </h3>
                                <ul class="js-xd-accordion-content side-nav__subheader">
                                    <li class="is-selected">
                                        <a href="@Url.Action("ProfileSetting", "Account")">
                                            Contact Info
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("ChangePassword", "Manage")">
                                            Change Password
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="side-nav__group">
                                <h3 class="js-xd-accordion-header side-nav__header side-nav__header--has-action">
                                    <i class="ico-computer ico--bullet"></i>Developer
                                </h3>
                                <ul class="js-xd-accordion-content side-nav__subheader">
                                    <li class="">
                                        <a href="/myaccount/apps/" data-automation="app-management">
                                            App Management
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/myaccount/webhooks/" data-automation="webhooks">
                                            Webhooks
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">

                <div>
                    @using (Html.BeginForm("ProfileSetting", "Account", null, FormMethod.Post, new { id = "profile_form", @class = "responsive-form fieldsform js-d-submitControl" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.UserId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="g-group">
                            <div class="g-cell g-cell-1-1 g-cell-md-6-12 l-mar-top-2">
                                <div><label for="contactinfo_prefix" class="label-primary">Prefix</label></div>
                                <div>
                                    @Html.DropDownList("Prefix", ViewData["Prefix"] as SelectList, new { @class = "responsive-form__select custom-select-container clrfix form-control" })
                                    @Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="g-group">
                                <div class="g-group">
                                    <div class="g-cell g-cell-1-1 g-cell-md-6-12 l-mar-top-2">
                                        <div><label for="UserName" class="label-primary">Full Name</label></div>
                                        <div>
                                            @Html.TextBoxFor(m => m.UserName)
                                        </div>
                                    </div>
                                </div>
                                <div class="g-group">
                                    <div class="g-group">
                                        <div class="g-group">
                                            <div class="g-cell g-cell-1-1 g-cell-md-6-12 l-mar-top-2">
                                                <div><label for="HomePhone" class="label-primary">Home Phone</label></div>
                                                <div>@Html.TextBoxFor(m => m.HomePhone)</div>
                                            </div>
                                            <div class="g-cell g-cell-1-1 g-cell-md-6-12 l-mar-top-2">
                                                <div><label for="MobilePhone" class="label-primary">Mobile Phone</label></div>
                                                <div>@Html.TextBoxFor(m => m.MobilePhone)</div>
                                            </div>
                                        </div>
                                        <div class="g-group">
                                            <div class="g-cell g-cell-1-1 g-cell-md-6-12 l-mar-top-2">
                                                <div><label for="JobTitle" class="label-primary">Job Title</label></div>
                                                <div>@Html.TextBoxFor(m => m.JobTitle)</div>
                                            </div>
                                            <div class="g-cell g-cell-1-1 g-cell-md-6-12 l-mar-top-2">
                                                <div><label for="Company" class="label-primary">Company / Organisation</label></div>
                                                <div>@Html.TextBoxFor(m => m.Company)</div>
                                            </div>
                                        </div>
                                        <div class="g-group">
                                            <div class="g-cell g-cell-1-1 g-cell-md-6-12 l-mar-top-2">
                                                <div><label for="Website" class="label-primary">Website</label></div>
                                                <div>@Html.TextBoxFor(m => m.Website)</div>
                                            </div>
                                            <div class="g-cell g-cell-1-1 g-cell-md-6-12 l-mar-top-2">
                                                <div><label for="Blog" class="label-primary">Blog</label></div>
                                                <div>@Html.TextBoxFor(m => m.Blog)</div>
                                            </div>
                                        </div>

                                        <div class="g-group l-mar-top-4">
                                            <div class="g-cell g-cell-1-1 l-mar-top-4">
                                                <h3 class="text-heading-secondary">Home Address</h3>
                                            </div>
                                        </div>

                                        <div class="js-d-cep">
                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Home_Address" class="label-primary">Address</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">@Html.TextBoxFor(m => m.Home_Address, new { @class = "js-xd-cep-street" })</div>
                                            </div>

                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Home_Address2" class="label-primary">Address 2</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">@Html.TextBoxFor(m => m.Home_Address2, new { @class = "js-xd-cep-neighborhood" })</div>
                                            </div>

                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Home_City" class="label-primary">Town/city</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">
                                                    @Html.DropDownList("Home_City", ViewData["City"] as SelectList, new { @class = "js-xd-cep-city form-control" })
                                                    @Html.ValidationMessageFor(model => model.Home_City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="g-group l-mar-top-4">
                                            <div class="g-cell g-cell-1-1 l-mar-top-4">
                                                <h3 class="text-heading-secondary">Billing Address</h3>
                                            </div>
                                        </div>

                                        <div class="js-d-cep">
                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Billing_Address" class="label-primary">Address</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">@Html.TextBoxFor(m => m.Billing_Address, new { @class = "js-xd-cep-street" })</div>
                                            </div>

                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Billing_Address2" class="label-primary">Address 2</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">@Html.TextBoxFor(m => m.Billing_Address2, new { @class = "js-xd-cep-neighborhood" })</div>
                                            </div>

                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Billing_City" class="label-primary">Town/city</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">
                                                    @Html.DropDownList("Billing_City", ViewData["City"] as SelectList, new { @class = "js-xd-cep-city form-control" })
                                                    @Html.ValidationMessageFor(model => model.Billing_City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="g-group l-mar-top-4">
                                            <div class="g-cell g-cell-1-1 l-mar-top-4">
                                                <h3 class="text-heading-secondary">Shipping Address</h3>
                                            </div>
                                        </div>

                                        <div class="js-d-cep">
                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Shipping_Address" class="label-primary">Address</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">@Html.TextBoxFor(m => m.Shipping_Address, new { @class = "js-xd-cep-street" })</div>
                                            </div>

                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Shipping_Address2" class="label-primary">Address 2</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">@Html.TextBoxFor(m => m.Shipping_Address2, new { @class = "js-xd-cep-neighborhood" })</div>
                                            </div>

                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Shipping_City" class="label-primary">Town/city</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">
                                                    @Html.DropDownList("Shipping_City", ViewData["City"] as SelectList, new { @class = "js-xd-cep-city form-control" })
                                                    @Html.ValidationMessageFor(model => model.Shipping_City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="g-group l-mar-top-4">
                                            <div class="g-cell g-cell-1-1 l-mar-top-4">
                                                <h3 class="text-heading-secondary">Work Address</h3>
                                            </div>
                                        </div>
                                        <div class="js-d-cep">
                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Work_Address" class="label-primary">Address</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">@Html.TextBoxFor(m => m.Work_Address, new { @class = "js-xd-cep-street" })</div>
                                            </div>

                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Work_Address2" class="label-primary">Address 2</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">@Html.TextBoxFor(m => m.Work_Address2, new { @class = "js-xd-cep-neighborhood" })</div>
                                            </div>

                                            <div class="g-group">
                                                <div class="g-cell g-cell-1-1 l-mar-top-2"><label for="Work_City" class="label-primary">Town/city</label></div>
                                                <div class="g-cell g-cell-1-1 g-cell-md-6-9">
                                                    @Html.DropDownList("Work_City", ViewData["City"] as SelectList, new { @class = "js-xd-cep-city form-control" })
                                                    @Html.ValidationMessageFor(model => model.Work_City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="g-group l-mar-top-4">
                                            <div class="g-cell g-cell-1-1 l-mar-top-4">
                                                <h3 class="text-heading-secondary">Other Information</h3>
                                            </div>
                                        </div>
                                        <div class="g-group l-mar-top-2">
                                            <div class="g-cell g-cell-1-1"><label for="sex" class="label-primary">Gender</label></div>
                                            <div class="g-cell g-cell-1-1 g-cell-md-6-9">
                                                @Html.DropDownList("Gender", ViewData["Gender"] as SelectList, new { @class = "responsive-form__select custom-select-container clrfix form-control" })
                                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="g-group l-mar-top-2">
                                            <div class="g-cell g-cell-1-1"><label for="BirthDate" class="label-primary">Birth Date</label></div>
                                            <div class="g-cell g-cell-1-1 g-cell-md-6-9">
                                                @Html.TextBoxFor(m => m.BirthDate)
                                            </div>
                                        </div>
                                        <div class="g-group l-mar-top-2">
                                            <div class="g-cell g-cell-1-1"><label for="Age" class="label-primary">Age</label></div>
                                            <div class="g-cell g-cell-1-1 g-cell-md-2-9">@Html.TextBoxFor(m => m.Age, new { @class = "g-cell-2-3" })</div>
                                        </div>

                                        <div class="g-group l-mar-top-4">
                                            <div class="g-cell g-cell-1-1">
                                                <input type="submit" value="Save" class="btn" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfloat"></div>

                </div><!-- end main -->
            </div><!-- end content -->

        </div>
    </div>
</div>