@model Site.OnlineStore.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký thành viên";
}

<div id="columns">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary col-md-12" value="Sign up" />
            </div>
            <div class="col-md-12 text-center">
                <span class="l-mar-top-2 has-centered-inline-content text-body-small">By signing up, I agree to Eventbrite's terms of service, privacy policy, and cookie policy.</span>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
