@using Portal.Model.ViewModel;
@{
    ViewBag.Title = "EventManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LocalStyles{
    <style>
        #Txt_Search {
            width: 300px;
        }

        #Btn_SearchEvent i {
            text-decoration: none;
        }
        .errorMessages {
            list-style-type: disc;
            padding: 8px 35px 8px 30px;
            color: #B94A48;
            background-color: #F2DEDE;
            border: 2px solid #EED3D7;
            border-radius: 4px;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        }
        .errorMessages span {
            font-weight: bold;
            font-size:14px;
        }
    </style>
}
@section LocalScripts{
    <script src="~/Scripts/user/user-event-management.js"></script>
    <script>
        $(document).ready(function () {
            UserEventManagement.init();
        });
    </script>
}

<div class="g-grid global-sub-header l-pad-vert-4 l-sm-pad-vert-3">
    <div class="g-group">
        <div class="g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-6-12">
            <h1 class="text-heading-primary text-body--significant">Manage Events</h1>
        </div>

    </div>
</div>
@if (ViewBag.ErrorMessage != string.Empty)
{
    <div class="g-grid global-sub-header l-pad-vert-4 l-sm-pad-vert-3">
        <ul class="errorMessages">
            <li><span>@ViewBag.ErrorMessage</span></li>
        </ul>
    </div>
}

<div class="g-grid clrfix l-pad-bot-5 l-sm-pad-bot-3">
    <div class="g-group l-mar-top-1">
        <div class="g-vertical-group g-cell-12-12 g-cell-lg-12-12">
            <div class="g-cell g-cell-12-12 is-responsive">
                <div class="seg-search g-cell g-cell-12-12 g-cell-md-12-12 g-cell-lg-12-12 g-cell--no-gutters l-sm-align-center l-lg-align-left">
                    <div class="search-md g-cell g-cell--no-gutters hide-small pull-right">
                        <div class="js-organizer-search-input form">
                            <div class="js-search-md search-input responsive-form__input--icon responsive-form__input--icon--right">
                                <input id="Txt_Search" type="search" role="textbox" class="search-input js-search-query-input" placeholder="Search for events">
                                <a id="Btn_SearchEvent" class="responsive-form__input--icon__container show-large">
                                    <i class="ico-search-v2 js-search-query-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="g-cell g-cell-12-12 g-cell--no-gutters l-sm-align-center l-mar-top-2">
                        <div class="js-xd-header tabs-header">
                            <ul id="TabStripEvents" class="tabs-header-list" style="width: 261px;" role="tablist">
                                <li class="active" data-type="live">
                                    <a class="js-live-events-toggle" href="#liveevents" role="tab" data-toggle="tab">Live <em>@ViewBag.ListLiveEvents.Count</em></a>
                                </li>
                                <li class="" data-type="draft">
                                    <a class="js-draft-events-toggle" href="#draftevents" role="tab" data-toggle="tab">Draft <em>@ViewBag.ListDraftEvents.Count</em></a>
                                </li>
                                <li class="" data-type="pass">
                                    <a class="js-past-events-toggle" href="#passevents" role="tab" data-toggle="tab">Past <em>@ViewBag.ListPassEvents.Count</em></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-event-list-block  tab-content">
                <div class="g-cell g-cell-12-12 js-event-list-container active tab-pane" id="liveevents">
                    @foreach (EventManagementItem item in ViewBag.ListLiveEvents)
                    {
                        <div>
                            <div class="l-mar-top-2">
                                <div class="event-card-myevents-container">
                                    <div class="card card--elevated-1 l-pad-bot-2">
                                        <div class="event-card__description">
                                            <div class="g-group">
                                                <div class="g-cell g-cell-12-12 g-cell-md-9-12 l-mar-top-2 l-pad-hor-2">
                                                    <h3 class="text-medium event-card__header">
                                                        <a href="/Event/EventDetails?id=@item.Id" style="text-decoration: none;" class="hide-small">  @item.Title</a>
                                                        <span class="show-small">  @item.Title</span>
                                                    </h3>
                                                    <div>

                                                        <span class="text-body--faint text--truncated">
                                                            @item.StartDate
                                                        </span>

                                                    </div>
                                                    <ul class="l-mar-top-2 show-large action-menu grouped-ico">
                                                        <li>
                                                            <a href="/UserResources/EventDashBoard?eventId=@item.Id">
                                                                <i class="ico-settings ico--small ico--color-understated"></i>
                                                            </a>
                                                        </li>
                                                        <li class="item-text">
                                                            <a href="/UserResources/EventDashBoard?eventId=@item.Id" class="text-body-medium text-body--faint">
                                                                Manage
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/Event/EditEvent?id=@item.Id">
                                                                <i class="ico-write ico--small"></i>
                                                            </a>
                                                        </li>
                                                        <li class="item-text">
                                                            <a href="/Event/EditEvent?id=@item.Id" class="text-body-medium text-color--blue-under">Edit</a>
                                                        </li>

                                                        <li>
                                                            <a href="/Event/EventDetails?id=@item.Id">
                                                                <i class="ico-view-event-page ico--small ico--color-understated"></i>
                                                            </a>
                                                        </li>
                                                        <li><a href="/Event/EventDetails?id=@item.Id" target="_blank" class="text-body-medium text-body--faint">View</a></li>
                                                    </ul>
                                                </div>

                                                <div class="sales-block g-cell g-cell-no-gutters g-cell-12-12 g-cell-md-3-12 l-pad-vert-2 l-pad-hor-2">
                                                    <div class="tickets-graph-block">
                                                        <div class="l-md-align-right l-lg-align-right">
                                                            <span class="text-body-medium text-color--green">@item.SoldTicketNumber </span>
                                                            <span class="text-body-medium text-body--faint">/ @item.TotalTicketNumber</span>
                                                            <span class="show-small text-body-medium text-body--faint">
                                                                sold
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="g-cell g-cell-12-12 js-event-list-container tab-pane" id="draftevents">
                    @foreach (EventManagementItem item in ViewBag.ListDraftEvents)
                    {
                        <div>
                            <div class="l-mar-top-2">
                                <div class="event-card-myevents-container">
                                    <div class="card card--elevated-1 l-pad-bot-2">
                                        <div class="event-card__description">
                                            <div class="g-group">
                                                <div class="g-cell g-cell-12-12 g-cell-md-9-12 l-mar-top-2 l-pad-hor-2">
                                                    <h3 class="text-medium event-card__header">
                                                        <a href="/Event/EventDetails?id=@item.Id" style="text-decoration: none;" class="hide-small">  @item.Title</a>
                                                        <span class="show-small">  @item.Title</span>
                                                    </h3>
                                                    <div>

                                                        <span class="text-body--faint text--truncated">
                                                            @item.StartDate
                                                        </span>

                                                    </div>
                                                    <ul class="l-mar-top-2 show-large action-menu grouped-ico">
                                                        <li>
                                                            <a href="/Event/EditEvent?id=@item.Id">
                                                                <i class="ico-write ico--small"></i>
                                                            </a>
                                                        </li>
                                                        <li class="item-text">
                                                            <a href="/Event/EditEvent?id=@item.Id" class="text-body-medium text-color--blue-under">Edit</a>
                                                        </li>
                                                        <li>
                                                            <a href="/Event/EventDetails?id=@item.Id">
                                                                <i class="ico-view-event-page ico--small ico--color-understated"></i>
                                                            </a>
                                                        </li>
                                                        <li><a href="/Event/EventDetails?id=@item.Id" target="_blank" class="text-body-medium text-body--faint">View</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="g-cell g-cell-12-12 js-event-list-container tab-pane" id="passevents">
                    @foreach (EventManagementItem item in ViewBag.ListPassEvents)
                    {
                        <div>
                            <div class="l-mar-top-2">
                                <div class="event-card-myevents-container">
                                    <div class="card card--elevated-1 l-pad-bot-2">
                                        <div class="event-card__description">
                                            <div class="g-group">
                                                <div class="g-cell g-cell-12-12 g-cell-md-9-12 l-mar-top-2 l-pad-hor-2">
                                                    <h3 class="text-medium event-card__header">
                                                        <a href="/Event/EventDetails?id=@item.Id" style="text-decoration: none;" class="hide-small">  @item.Title</a>
                                                        <span class="show-small">  @item.Title</span>
                                                    </h3>
                                                    <div>

                                                        <span class="text-body--faint text--truncated">
                                                            @item.StartDate
                                                        </span>

                                                    </div>
                                                    <ul class="l-mar-top-2 show-large action-menu grouped-ico">
                                                        <li>
                                                            <a href="/UserResources/EventDashBoard?eventId=@item.Id">
                                                                <i class="ico-settings ico--small ico--color-understated"></i>
                                                            </a>
                                                        </li>
                                                        <li class="item-text">
                                                            <a href="/UserResources/EventDashBoard?eventId=@item.Id" class="text-body-medium text-body--faint">
                                                                Manage
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/Event/EditEvent?id=@item.Id">
                                                                <i class="ico-write ico--small"></i>
                                                            </a>
                                                        </li>
                                                        <li class="item-text">
                                                            <a href="/Event/EditEvent?id=@item.Id" class="text-body-medium text-color--blue-under">Edit</a>
                                                        </li>

                                                        <li>
                                                            <a href="/Event/EventDetails?id=@item.Id">
                                                                <i class="ico-view-event-page ico--small ico--color-understated"></i>
                                                            </a>
                                                        </li>
                                                        <li><a href="/Event/EventDetails?id=@item.Id" target="_blank" class="text-body-medium text-body--faint">View</a></li>
                                                    </ul>
                                                </div>
                                                <div class="sales-block g-cell g-cell-no-gutters g-cell-12-12 g-cell-md-3-12 l-pad-vert-2 l-pad-hor-2">
                                                    <div class="tickets-graph-block">
                                                        <div class="l-md-align-right l-lg-align-right">
                                                            <span class="text-body-medium text-color--green">@item.SoldTicketNumber </span>
                                                            <span class="text-body-medium text-body--faint">/ @item.TotalTicketNumber</span>
                                                            <span class="show-small text-body-medium text-body--faint">
                                                                sold
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

