@model Portal.Model.ViewModel.EventDetailsResponse
@{
    ViewBag.Title = "Event details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LocalStyles{
    <link href="~/Content/event/event_pages_C.css" rel="stylesheet" />
    <link href="~/Content/event/event_page_advanced.css" rel="stylesheet" />
    <link href="~/Content/event/event_eventdetails.css" rel="stylesheet" />
}

@section LocalScripts{
    <script src="~/Content/admin/plugins/slider-bar-library/sly.min.js"></script>
    <script src="~/Scripts/event/eventdetails-management.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuUVF4qMvTKfQceh9fQP9XzM4f7ImTFOw&libraries=places&callback=EventDetailsManagement.googleApiCallBackFunction">
    </script>
    <script>
        EventDetailsManagement.model.Address = '@Model.Location_State, @Model.Country';
    </script>
}

<!-- Event details and Order content -->
<div id="contentpub" class="js-hidden-when-expired ">
    <div class="main">
        @if (Request.IsAuthenticated)
        {
            @Html.Hidden("UserName",User.Identity.Name);
        }
   
        <!-- Error panel -->
        <div id="ticket_error_message_container" class="deprecated-notification2 error_notification hidden">
            <div class="error_notification_msg">
                <span id="ticket_error_message" style="display:none;">None</span>
            </div>
        </div>

        <!-- Header row content panel -->
        <div id="subheader">
            <table id="subheader_table">
                <tbody>
                    <tr>
                        <!-- Event title and location -->
                        <td id="subheader_info_cell" class="g-cell g-cell-1-3 g-cell-md-1-3">
                            <div id="event_header">
                                <h1><span class="summary">@Model.Title</span></h1>
                                <div id="event_network">
                                    <h2>
                                        <a>@Model.Location_Address</a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <!-- Event image -->
                        <td id="subheader_logo_cell" class="g-cell g-cell-2-3 g-cell-md-2-3">
                            <div class="event-title-image-panel">
                                @if (Model.CoverImage != null)
                                {
                                    <img src="@Model.CoverImage" class="event-image-cover">
                                }
                                else
                                {
                                    <img src="@Portal.Infractructure.Utility.EventConstants.ImageNotFoundPath" alt="Cannot find image" class="event-image-cover">
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Left column content panel -->
        <div id="col_628">
            <!-- Book ticket form -->
            <div id="ticket_information_wrapper" class="panel_628" style="position: relative;">
                <form id="Form_OrderTicket" enctype="multipart/form-data" action="/Event/OrderTicket" method="post" style="margin: 0px;">
                    <input type="hidden" name="EventId" value="@Model.Id">
                    <!-- List tickets -->
                    <div class="l-mar-stack">
                        <div class="panel_head2 l-mar-top-3" id="ticketInfo">
                            <h3>Ticket Information</h3>
                        </div>
                    </div>
                    <div id="TicketReg" class="panel_body">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" id="ticket_table" data-automation="ticket_table">
                            <tbody>
                                <tr class="ticket_table_head">
                                    <td width="40%" nowrap="nowrap">
                                        Ticket Type
                                    </td>
                                    <td>
                                        Price
                                    </td>
                                    <td width="70" align="right">Quantity</td>
                                </tr>
                                @for (int i = 0; i < Model.Tickets.Count; i++)
                                {
                                    <tr class="ticket_row">
                                        <input type="hidden" name="Tickets[@i].TicketId" value="@Model.Tickets[i].Id" />

                                        <td class="ticket_type_name">
                                            @Model.Tickets[i].Name

                                            <div style="font-size: 11px; line-height: 12px; margin: 5px 0 0 0;">@Model.Tickets[i].Description</div>
                                        </td>
                                        <td nowrap="nowrap" class="price_td">
                                            @if(Model.Tickets[i].Type == (int)Portal.Infractructure.Utility.Define.TicketPriceType.Free){
                                                <span>Free</span>
                                            }else if(Model.Tickets[i].Type == (int)Portal.Infractructure.Utility.Define.TicketPriceType.Paid){
                                                <span>@Model.Tickets[i].Price VND</span>  
                                            }else{
                                                <span>Donation</span> 
                                            }
                                        </td>
                                        <td align="right" nowrap="nowrap">
                                            <label class="is-hidden-accessible">Ticket Quantity Select</label>
                                            <select class="ticket_table_select" name="Tickets[@i].TicketQuantity">
                                                @for (int j = 0; j < Model.Tickets[i].MaximunTicketOrder; j++)
                                                {
                                                    if (Model.Tickets[i].Quantity == j)
                                                    {
                                                        <option value="@j" selected="selected">@j</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@j">@j</option>
                                                    }
                                                }
                                            </select>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- end panel_body -->
                    <div id="OrderReg" class="panel_footer" style="text-align: right; padding: 10px;height:initial;">
                        <div id="paidButton" style="display: block;" data-automation="paidButton">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="right">
                                            <div class="cta_container">
                                                <span id="primary_cta" class="button_css">
                                                    <a id="Btn_OrderTicket" style="text-decoration:none;color:#fff;">
                                                        Order Now
                                                    </a>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>		<!-- end paidButton -->
                        <div class="clearfloat"></div>
                    </div><!-- OrderReg end panel_footer -->

                </form>
                <div class="clearfloat"></div>
            </div>

            <!-- Event details -->
            <div class="panel_628">
                <div class="panel_head2">
                    <h3>
                        Event Details
                    </h3>
                </div>
                <div class="panel_body">
                    @Html.Raw(Model.Description)
                </div><!-- end panel_body -->
            </div>
        </div>

        <!-- Right column content panel -->
        <div id="col_280">
            <div id="track_event_container" class="common_box panel_280">
                <a id="track_event" class="eb_button default large" style="text-decoration:none;font-size:20px;box-sizing: content-box;">Save This Event</a>
                <div class="count_subview"></div>
                <div class="summary_subview"></div>
            </div>

            <!-- Where -->
            <div class="panel_280">
                <div class="panel_head2">
                    <h3>
                        Where
                    </h3>
                </div>
                <div class="panel_body" id="panel_when">

                    <div id="map_canvas" style="width: 260px; height: 260px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;">
                    </div>
                    <h2 class="location" style="margin-top: 3px;">
                        <br>
                        <b>@Model.Title</b>
                        <br>
                        @Model.Location_Address, @Model.Location_StreetName <br>
                        @Model.Location_City<br>
                        @Model.Country<br>
                        <br>
                    </h2>
                </div><!-- end panel_body -->
            </div>

            <!-- Organizer -->
            <div id="hostedByDiv" class="panel_280">
                <div class="panel_head2"><h3>Organizer</h3></div>
                <div id="new_organizer_module" class="panel_body">
                    <div id="organizer_header" class="fn panel_border">
                        <h2>@Model.OrganizationName</h2>
                        <div class="note">
                            <div title="Page 1">
                                @Html.Raw(Model.OrganizationDescription)
                            </div>
                            <!--[if IE]><![endif]-->
                        </div>
                    </div>
                    <div id="organizer_content">
                        <h2>Contact</h2>

                        <div id="organizer_profile" class="organizer_link">
                            <a id="profile_link" class="url js-event-track" data-tracking-action="ViewOrgProfile" href="http://www.eventbrite.com/o/scope-art-show-7205653955" target="_blank">
                                View organizer profile
                            </a>
                        </div>
                        <div id="organizer_website" class="organizer_link">
                            <a href="http://scope-art.com/" target="_blank" rel="nofollow" class="url js-event-track" data-tracking-action="ViewOrgWebsite">
                                http://scope-art.com
                            </a>
                        </div>

                    </div>  <!-- end organizer_context -->

                </div> <!-- end panel_body -->
            </div> <!-- end panel_280 -->
        </div>

        <div class="clearfloat"></div>

    </div> <!-- end main -->
</div> <!-- end contentpub -->
<!-- Related events -->
<div class="g-cell g-cell-1-1 related-events js-related-events show">
    <!-- Title -->
    <div class="g-group">
        <div class="g-cell g-cell-1-1 g-cell--no-gutters l-align-center l-mar-top-5">
            <h3 class="heading-secondary-responsive related-events-title text--truncated l-mar-top-6">
                Other Events You May Like
            </h3>
        </div>
    </div>
    <!-- Horizontal bar show list related events -->
    <section class="js-event-list event-list  l-mar-top-2">
        <div class="scroll-wrapper">
            <div class="scrollable-area" style="width: 100%;" id="Events_Horizontal_Bar">
                @foreach (Portal.Model.ViewModel.DisplayEventSummaryView item in ViewBag.RelatedEvents)
                {
                    <div class="scroll-item l-pad-vert-1">
                        <div class="poster-card js-d-poster">
                            <a href="/Event/EventDetails?id=@item.Id" class="poster-card__main js-event-link js-xd-janus-checkpoint-link">
                                <div class="poster-card__header">
                                    <div class="poster-card__image" style="background-color:#23191a;">
                                        @if (item.CoverImage != "")
                                        {
                                            <img class="js-poster-image" src="@item.CoverImage">
                                        }
                                        else
                                        {
                                            <img class="js-poster-image" src="@Portal.Infractructure.Utility.EventConstants.ImageNotFoundPath " alt=" cannot find image">
                                        }
                                    </div>
                                    <span class="poster-card__label">$10 - $65</span>
                                </div>
                                <div class="poster-card__body">
                                    <time class="poster-card__date">
                                        @item.StartDate
                                    </time>
                                    <div class="poster-card__title">
                                        @item.Title
                                    </div>
                                    <div class="poster-card__venue">
                                        @item.Location_Address, @item.Location_City, @item.Country
                                    </div>
                                </div>
                            </a>
                            <div class="poster-card__footer">
                                <div class="poster-card__tags">
                                    <a class="event-category" href="">#Arts</a>
                                    <a class="event-format" href="">#Festival</a>
                                </div>
                                <div class="poster-card__actions">
                                    <a class="js-share-event-card share-action" href="" title="Share">
                                        <i class="ico-share ico--medium"></i>
                                        <span class="is-hidden-accessible">Share this event</span>
                                    </a>
                                    <a class="js-d-bookmark" href="">
                                        <i class="ico-bookmark ico--medium"></i>
                                        <span class="is-hidden-accessible">Bookmark this event</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>