@model Portal.Model.ViewModel.EventDetailsResponse
@{
    ViewBag.Title = "Order Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LocalStyles{
<link href="~/Content/event/event_orderticket.css" rel="stylesheet" />
<link href="~/Content/event/event_pages_C.css" rel="stylesheet" />
}

@section LocalScripts{

<script src="~/Scripts/event/orderticket-management.js"></script>
    <script>
        $(document).ready(function () {
            OrderTicketManagement.init('@Model.OrderId','@Model.Id',@Model.RemainOrderSessionTime);
        })
    </script>
}

<div id="contentpub">
    <div class="main clrfix">
        <!-- Error summary panel -->
        <div id="ticket_error_message_container" class="deprecated-notification2 error_notification hidden">
            <div class="error_notification_msg">
                <span id="ticket_error_message" style="display:none;"></span>
            </div>
        </div>

        <!-- Title, location of event -->
        <div id="subheader">
            <table id="subheader_table">
                <tbody>
                    <tr>
                        <td id="subheader_info_cell" style="">
                            <div id="event_header">
                                <h1><span class="summary">@Model.Title</span></h1>
                                <h2>
                                    <a target="_blank">
                                        @Model.OrganizationName
                                    </a>
                                </h2>
                                <h2>From: @Model.StartDate To: @Model.EndDate</h2>
                                <div id="event_network">
                                    <h2>@Model.Location_StreetName @Model.Location_Address @Model.Location_City @Model.Location_State @Model.Country</h2>
                                </div>
                            </div>
                        </td>
                        <td id="subheader_logo_cell">
                            <div class="event_title_image" style="margin:0;padding:0;">
                                @if (Model.CoverImage != null)
                                {
                                    <img src="@Model.CoverImage" class="photo cropped js-d-retina">
                                }
                                else
                                {
                                    <img src="@Portal.Infractructure.Utility.EventConstants.ImageNotFoundPath" alt="Cannot find image" class="photo cropped js-d-retina">
                                }
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Right content panel -->
        <div id="col_628">
            <div class="panel_628">
                <!-- error messages -->
                <div id="order_summary_container">
                    <div class="panel_head2">
                        Order Summary
                    </div>
                    <div class="panel_body" id="order_summary_data">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ticket_table" data-automation="ticket_table">
                            <tbody>
                                <tr class="ticket_table_head">
                                    <td width="400">TYPE</td>
                                    <td align="center">QUANTITY</td>
                                    <td align="center"></td>
                                </tr>

                                @foreach (Portal.Model.ViewModel.OrderEventTicketModel ticket in Model.Tickets)
                                {
                                    <tr class="ticket_row">
                                        <td>@ticket.Name</td>
                                        <td align="center">@ticket.Quantity</td>
                                        <td align="center"></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!--.panel_628-->
            <div class="panel_628">
                <div class="panel_head2">
                    <div>
                        <nobr><span>Registration Information</span></nobr>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="panel_body" id="processingDiv" style="display: none;">
                    <div style="text-align: center; margin: 100px;">
                        <h1 id="processingTitle"> Processing Your Order </h1>
                        <div id="processingMessage" style="display: none; font-weight: bold;">
                            Your order is being processed.  Please do not refresh this page.<br>
                            Once processing is complete, you will see your order confirmation.<br><br>
                        </div>
                        <div id="processing">
                            <img src="./Eventbrite - Armour@ThePark_ Charged Run_files/progress-bar.gif" alt="loading animation">
                        </div>
                    </div>
                </div>

                <div class="panel_body" id="registrationDiv" style="padding: 15px;" data-automation="registration_div">
                    <a name="loginbox"></a>
                    <table cellpadding="2" cellspacing="0" border="0" width="100%" align="left">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="countdown_timer_notification clrfix" style="font-weight: normal;">
                                        <div id="time_left">6:56 </div>
                                        <p>
                                            Please complete registration within <span id="time_limit">8:00 </span> minutes.<br>
                                            After <span id="time_limit2">8:00 </span> minutes, the reservation we're holding will be released to others.
                                        </p>
                                    </div>
                                    <table class="registrationTable" cellpadding="2" cellspacing="0" border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td><h3>Your Information</h3></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="loggedInAs" style="">
                                                        <font style="font-size: 14px">Hi, <span id="loggedInEmail" style="font-style: italic;">@User.Identity.Name.</span>&nbsp;&nbsp;&nbsp;</font>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <br>
                                    <div class="error" style="float: right;">* Required Field</div>
                                    <br>
                                    <!-- DISPLAY THE SURVEY QUESTIONS -->
                                    <form id="registrationForm" name="registrationForm" method="post" target="_top" class="">
                                        <ul class="errorMessages"></ul>
                                        <input type="hidden" id="OrderId" name="OrderId" value="@Model.OrderId">
                                        
                                        <table class="registrationTable" cellpadding="2" cellspacing="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="right"><label for="first_name">First Name:</label></td>
                                                    <td><span class="error">*</span></td>
                                                    <td><input type="text" id="Txt_FirstName" data-fieldname="First Name" name="FirstName" style="width: 270px;" required class="required"></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><label for="last_name">Last Name:</label></td>
                                                    <td><span class="error">*</span></td>
                                                    <td><input type="text" id="Txt_LastName" data-fieldname="Last Name" name="LastName" style="width: 270px;" required class="required"></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><nobr><label for="email_address">Email Address:</label></nobr></td>
                                                    <td><span class="error">*</span></td>

                                                    <td><input type="email" id="Txt_EmailAddress" data-fieldname="Email Address" name="EmailAddress" style="width: 270px;" required class="required validated-field" maxlength="50" value="@ViewBag.UserInfor.Email"></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><nobr><label for="email_address">Phone Number:</label></nobr></td>
                                                    <td><span class="error">*</span></td>

                                                    <td><input type="text" id="Txt_PhoneNumber" data-fieldname="Phone Number" name="PhoneNumber" style="width: 270px;" required class="required validated-field" maxlength="50" value="@ViewBag.UserInfor.MobilePhone"></td>
                                                </tr>
                                            </tbody>
                                            <!-- DISPLAY THE PAYMENT OPTIONS -->

                                            <tbody id="bill_fields">
                                                <tr>
                                                    <td colspan="3"><h3>Billing Information</h3></td>
                                                </tr>
                                                <tr class="js-d-country-wrap">
                                                    <td align="right"><label for="Billing_Country">Billing Country:</label></td>
                                                    <td><span class="error">*</span></td>
                                                    <td>
                                                        <select id="Ddl_Billing_Country" data-fieldname="Billing Country" name="Billing_Country" required class="required" value="VN">
                                                            <option value="">Select a Country</option>
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AX">Åland Islands</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AS">American Samoa</option>
                                                            <option value="AD">Andorra</option>
                                                            <option value="AO">Angola</option>
                                                            <option value="AI">Anguilla</option>
                                                            <option value="AQ">Antarctica</option>
                                                            <option value="AG">Antigua and Barbuda</option>
                                                            <option value="AR">Argentina</option>
                                                            <option value="AM">Armenia</option>
                                                            <option value="AW">Aruba</option>
                                                            <option value="AU">Australia</option>
                                                            <option value="AT">Austria</option>
                                                            <option value="AZ">Azerbaijan</option>
                                                            <option value="BS">Bahamas</option>
                                                            <option value="BH">Bahrain</option>
                                                            <option value="BD">Bangladesh</option>
                                                            <option value="BB">Barbados</option>
                                                            <option value="BY">Belarus</option>
                                                            <option value="BE">Belgium</option>
                                                            <option value="BZ">Belize</option>
                                                            <option value="BJ">Benin</option>
                                                            <option value="BM">Bermuda</option>
                                                            <option value="BT">Bhutan</option>
                                                            <option value="BO">Bolivia, Plurinational State of</option>
                                                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                            <option value="BA">Bosnia and Herzegovina</option>
                                                            <option value="BW">Botswana</option>
                                                            <option value="BV">Bouvet Island</option>
                                                            <option value="BR">Brazil</option>
                                                            <option value="IO">British Indian Ocean Territory</option>
                                                            <option value="BN">Brunei Darussalam</option>
                                                            <option value="BG">Bulgaria</option>
                                                            <option value="BF">Burkina Faso</option>
                                                            <option value="BI">Burundi</option>
                                                            <option value="KH">Cambodia</option>
                                                            <option value="CM">Cameroon</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="CV">Cape Verde</option>
                                                            <option value="KY">Cayman Islands</option>
                                                            <option value="CF">Central African Republic</option>
                                                            <option value="TD">Chad</option>
                                                            <option value="CL">Chile</option>
                                                            <option value="CN">China</option>
                                                            <option value="CX">Christmas Island</option>
                                                            <option value="CC">Cocos (Keeling) Islands</option>
                                                            <option value="CO">Colombia</option>
                                                            <option value="KM">Comoros</option>
                                                            <option value="CG">Congo</option>
                                                            <option value="CD">Congo, The Democratic Republic of the</option>
                                                            <option value="CK">Cook Islands</option>
                                                            <option value="CR">Costa Rica</option>
                                                            <option value="CI">Côte d'Ivoire</option>
                                                            <option value="HR">Croatia</option>
                                                            <option value="CW">Curaçao</option>
                                                            <option value="CY">Cyprus</option>
                                                            <option value="CZ">Czech Republic</option>
                                                            <option value="DK">Denmark</option>
                                                            <option value="DJ">Djibouti</option>
                                                            <option value="DM">Dominica</option>
                                                            <option value="DO">Dominican Republic</option>
                                                            <option value="EC">Ecuador</option>
                                                            <option value="EG">Egypt</option>
                                                            <option value="SV">El Salvador</option>
                                                            <option value="GQ">Equatorial Guinea</option>
                                                            <option value="ER">Eritrea</option>
                                                            <option value="EE">Estonia</option>
                                                            <option value="ET">Ethiopia</option>
                                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                                            <option value="FO">Faroe Islands</option>
                                                            <option value="FJ">Fiji</option>
                                                            <option value="FI">Finland</option>
                                                            <option value="FR">France</option>
                                                            <option value="GF">French Guiana</option>
                                                            <option value="PF">French Polynesia</option>
                                                            <option value="TF">French Southern Territories</option>
                                                            <option value="GA">Gabon</option>
                                                            <option value="GM">Gambia</option>
                                                            <option value="GE">Georgia</option>
                                                            <option value="DE">Germany</option>
                                                            <option value="GH">Ghana</option>
                                                            <option value="GI">Gibraltar</option>
                                                            <option value="GR">Greece</option>
                                                            <option value="GL">Greenland</option>
                                                            <option value="GD">Grenada</option>
                                                            <option value="GP">Guadeloupe</option>
                                                            <option value="GU">Guam</option>
                                                            <option value="GT">Guatemala</option>
                                                            <option value="GG">Guernsey</option>
                                                            <option value="GN">Guinea</option>
                                                            <option value="GW">Guinea-Bissau</option>
                                                            <option value="GY">Guyana</option>
                                                            <option value="HT">Haiti</option>
                                                            <option value="HM">Heard Island and McDonald Islands</option>
                                                            <option value="VA">Holy See (Vatican City State)</option>
                                                            <option value="HN">Honduras</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="HU">Hungary</option>
                                                            <option value="IS">Iceland</option>
                                                            <option value="IN">India</option>
                                                            <option value="ID">Indonesia</option>
                                                            <option value="IQ">Iraq</option>
                                                            <option value="IE">Ireland</option>
                                                            <option value="IM">Isle of Man</option>
                                                            <option value="IL">Israel</option>
                                                            <option value="IT">Italy</option>
                                                            <option value="JM">Jamaica</option>
                                                            <option value="JP">Japan</option>
                                                            <option value="JE">Jersey</option>
                                                            <option value="JO">Jordan</option>
                                                            <option value="KZ">Kazakhstan</option>
                                                            <option value="KE">Kenya</option>
                                                            <option value="KI">Kiribati</option>
                                                            <option value="KR">Korea, Republic of</option>
                                                            <option value="KW">Kuwait</option>
                                                            <option value="KG">Kyrgyzstan</option>
                                                            <option value="LA">Lao People's Democratic Republic</option>
                                                            <option value="LV">Latvia</option>
                                                            <option value="LB">Lebanon</option>
                                                            <option value="LS">Lesotho</option>
                                                            <option value="LR">Liberia</option>
                                                            <option value="LY">Libya</option>
                                                            <option value="LI">Liechtenstein</option>
                                                            <option value="LT">Lithuania</option>
                                                            <option value="LU">Luxembourg</option>
                                                            <option value="MO">Macao</option>
                                                            <option value="MK">Macedonia, Republic of</option>
                                                            <option value="MG">Madagascar</option>
                                                            <option value="MW">Malawi</option>
                                                            <option value="MY">Malaysia</option>
                                                            <option value="MV">Maldives</option>
                                                            <option value="ML">Mali</option>
                                                            <option value="MT">Malta</option>
                                                            <option value="MH">Marshall Islands</option>
                                                            <option value="MQ">Martinique</option>
                                                            <option value="MR">Mauritania</option>
                                                            <option value="MU">Mauritius</option>
                                                            <option value="YT">Mayotte</option>
                                                            <option value="MX">Mexico</option>
                                                            <option value="FM">Micronesia, Federated States of</option>
                                                            <option value="MD">Moldova, Republic of</option>
                                                            <option value="MC">Monaco</option>
                                                            <option value="MN">Mongolia</option>
                                                            <option value="ME">Montenegro</option>
                                                            <option value="MS">Montserrat</option>
                                                            <option value="MA">Morocco</option>
                                                            <option value="MZ">Mozambique</option>
                                                            <option value="MM">Myanmar</option>
                                                            <option value="NA">Namibia</option>
                                                            <option value="NR">Nauru</option>
                                                            <option value="NP">Nepal</option>
                                                            <option value="NL">Netherlands</option>
                                                            <option value="NC">New Caledonia</option>
                                                            <option value="NZ">New Zealand</option>
                                                            <option value="NI">Nicaragua</option>
                                                            <option value="NE">Niger</option>
                                                            <option value="NG">Nigeria</option>
                                                            <option value="NU">Niue</option>
                                                            <option value="NF">Norfolk Island</option>
                                                            <option value="MP">Northern Mariana Islands</option>
                                                            <option value="NO">Norway</option>
                                                            <option value="OM">Oman</option>
                                                            <option value="PK">Pakistan</option>
                                                            <option value="PW">Palau</option>
                                                            <option value="PS">Palestine, State of</option>
                                                            <option value="PA">Panama</option>
                                                            <option value="PG">Papua New Guinea</option>
                                                            <option value="PY">Paraguay</option>
                                                            <option value="PE">Peru</option>
                                                            <option value="PH">Philippines</option>
                                                            <option value="PN">Pitcairn</option>
                                                            <option value="PL">Poland</option>
                                                            <option value="PT">Portugal</option>
                                                            <option value="PR">Puerto Rico</option>
                                                            <option value="QA">Qatar</option>
                                                            <option value="RE">Réunion</option>
                                                            <option value="RO">Romania</option>
                                                            <option value="RU">Russian Federation</option>
                                                            <option value="RW">Rwanda</option>
                                                            <option value="BL">Saint Barthélemy</option>
                                                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                            <option value="KN">Saint Kitts and Nevis</option>
                                                            <option value="LC">Saint Lucia</option>
                                                            <option value="MF">Saint Martin (French part)</option>
                                                            <option value="PM">Saint Pierre and Miquelon</option>
                                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                                            <option value="WS">Samoa</option>
                                                            <option value="SM">San Marino</option>
                                                            <option value="ST">Sao Tome and Principe</option>
                                                            <option value="SA">Saudi Arabia</option>
                                                            <option value="SN">Senegal</option>
                                                            <option value="RS">Serbia</option>
                                                            <option value="SC">Seychelles</option>
                                                            <option value="SL">Sierra Leone</option>
                                                            <option value="SG">Singapore</option>
                                                            <option value="SX">Sint Maarten (Dutch part)</option>
                                                            <option value="SK">Slovakia</option>
                                                            <option value="SI">Slovenia</option>
                                                            <option value="SB">Solomon Islands</option>
                                                            <option value="SO">Somalia</option>
                                                            <option value="ZA">South Africa</option>
                                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                            <option value="SS">South Sudan</option>
                                                            <option value="ES">Spain</option>
                                                            <option value="LK">Sri Lanka</option>
                                                            <option value="SR">Suriname</option>
                                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                                            <option value="SZ">Swaziland</option>
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                                                            <option value="TW">Taiwan, Province of China</option>
                                                            <option value="TJ">Tajikistan</option>
                                                            <option value="TZ">Tanzania, United Republic of</option>
                                                            <option value="TH">Thailand</option>
                                                            <option value="TL">Timor-Leste</option>
                                                            <option value="TG">Togo</option>
                                                            <option value="TK">Tokelau</option>
                                                            <option value="TO">Tonga</option>
                                                            <option value="TT">Trinidad and Tobago</option>
                                                            <option value="TN">Tunisia</option>
                                                            <option value="TR">Turkey</option>
                                                            <option value="TM">Turkmenistan</option>
                                                            <option value="TC">Turks and Caicos Islands</option>
                                                            <option value="TV">Tuvalu</option>
                                                            <option value="UG">Uganda</option>
                                                            <option value="UA">Ukraine</option>
                                                            <option value="AE">United Arab Emirates</option>
                                                            <option value="GB" selected="">United Kingdom</option>
                                                            <option value="US">United States</option>
                                                            <option value="UM">United States Minor Outlying Islands</option>
                                                            <option value="UY">Uruguay</option>
                                                            <option value="UZ">Uzbekistan</option>
                                                            <option value="VU">Vanuatu</option>
                                                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                            <option value="VN">Viet Nam</option>
                                                            <option value="VG">Virgin Islands, British</option>
                                                            <option value="VI">Virgin Islands, U.S.</option>
                                                            <option value="WF">Wallis and Futuna</option>
                                                            <option value="EH">Western Sahara</option>
                                                            <option value="YE">Yemen</option>
                                                            <option value="ZM">Zambia</option>
                                                            <option value="ZW">Zimbabwe</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><label for="Billing_Address">Billing Address:</label></td>
                                                    <td>
                                                        <span class="error">*</span>
                                                    </td>
                                                    <td><input required id="Txt_Billing_Address" type="text" data-fieldname="Billing Address" name="Billing_Address" style="width: 270px;" class="required" value="@ViewBag.UserInfor.Billing_Address"></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><label for="Billing_Address2">Billing Address 2:</label></td>
                                                    <td></td>
                                                    <td><input id="Txt_Billing_Address2" type="text" data-fieldname="Billing Address 2" name="Billing_Address2" style="width: 270px;" value="@ViewBag.UserInfor.Billing_Address2"></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><label for="Billing_City">Billing City:</label></td>
                                                    <td>
                                                        <span class="error">*</span>
                                                    </td>
                                                    <td><input required type="text" data-fieldname="Billing City" name="Billing_City" id="Txt_Billing_City" style="width: 200px;" class="required" value="@ViewBag.UserInfor.Billing_City"></td>
                                                </tr>
                                                @*<tr class="js-d-bill-wrap">
                                                    <td align="right"><div id="bill_state_label" style="display: inline;">State/Province</div>:</td>
                                                    <td>
                                                        <span id="bill_state_span" class="error"></span>
                                                    </td>
                                                    <td>
                                                        <input type="text" required id="Txt_State" name="State" data-fieldname="State" style="width: 80px; display: inline-block;" class="">
                                                    </td>
                                                </tr>*@
                                                @*<tr class="js-d-zip-wrap">
                                                    <td align="right">
                                                        <label for="bill_zip">
                                                            <span id="bill_zip_label" style="display: inline;">Postal Code</span><span id="bill_zip_delimiter">:</span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <span id="bill_zip_required" class="error">*</span>
                                                    </td>
                                                    <td>
                                                        <div class="js-zip-spinner">
                                                            <input required type="text" data-fieldname="Postal Code" name="PostalCode" id="Txt_PostalCode" style="width: 50px;" class="required js-d-zip-input">
                                                        </div>
                                                    </td>
                                                </tr>*@

                                            </tbody>
                                            <tbody id="bill_fields">
                                                <tr>
                                                    <td colspan="3"><h3>Shipping Information</h3></td>
                                                </tr>
                                                <tr class="js-d-country-wrap">
                                                    <td align="right"><label for="Shipping_Country">Shipping Country:</label></td>
                                                    <td><span class="error">*</span></td>
                                                    <td>
                                                        <select id="Ddl_Shipping_Country" data-fieldname="Shipping Country" name="Shipping_Country" required class="required" value="VN">
                                                            <option value="">Select a Country</option>
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AX">Åland Islands</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AS">American Samoa</option>
                                                            <option value="AD">Andorra</option>
                                                            <option value="AO">Angola</option>
                                                            <option value="AI">Anguilla</option>
                                                            <option value="AQ">Antarctica</option>
                                                            <option value="AG">Antigua and Barbuda</option>
                                                            <option value="AR">Argentina</option>
                                                            <option value="AM">Armenia</option>
                                                            <option value="AW">Aruba</option>
                                                            <option value="AU">Australia</option>
                                                            <option value="AT">Austria</option>
                                                            <option value="AZ">Azerbaijan</option>
                                                            <option value="BS">Bahamas</option>
                                                            <option value="BH">Bahrain</option>
                                                            <option value="BD">Bangladesh</option>
                                                            <option value="BB">Barbados</option>
                                                            <option value="BY">Belarus</option>
                                                            <option value="BE">Belgium</option>
                                                            <option value="BZ">Belize</option>
                                                            <option value="BJ">Benin</option>
                                                            <option value="BM">Bermuda</option>
                                                            <option value="BT">Bhutan</option>
                                                            <option value="BO">Bolivia, Plurinational State of</option>
                                                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                            <option value="BA">Bosnia and Herzegovina</option>
                                                            <option value="BW">Botswana</option>
                                                            <option value="BV">Bouvet Island</option>
                                                            <option value="BR">Brazil</option>
                                                            <option value="IO">British Indian Ocean Territory</option>
                                                            <option value="BN">Brunei Darussalam</option>
                                                            <option value="BG">Bulgaria</option>
                                                            <option value="BF">Burkina Faso</option>
                                                            <option value="BI">Burundi</option>
                                                            <option value="KH">Cambodia</option>
                                                            <option value="CM">Cameroon</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="CV">Cape Verde</option>
                                                            <option value="KY">Cayman Islands</option>
                                                            <option value="CF">Central African Republic</option>
                                                            <option value="TD">Chad</option>
                                                            <option value="CL">Chile</option>
                                                            <option value="CN">China</option>
                                                            <option value="CX">Christmas Island</option>
                                                            <option value="CC">Cocos (Keeling) Islands</option>
                                                            <option value="CO">Colombia</option>
                                                            <option value="KM">Comoros</option>
                                                            <option value="CG">Congo</option>
                                                            <option value="CD">Congo, The Democratic Republic of the</option>
                                                            <option value="CK">Cook Islands</option>
                                                            <option value="CR">Costa Rica</option>
                                                            <option value="CI">Côte d'Ivoire</option>
                                                            <option value="HR">Croatia</option>
                                                            <option value="CW">Curaçao</option>
                                                            <option value="CY">Cyprus</option>
                                                            <option value="CZ">Czech Republic</option>
                                                            <option value="DK">Denmark</option>
                                                            <option value="DJ">Djibouti</option>
                                                            <option value="DM">Dominica</option>
                                                            <option value="DO">Dominican Republic</option>
                                                            <option value="EC">Ecuador</option>
                                                            <option value="EG">Egypt</option>
                                                            <option value="SV">El Salvador</option>
                                                            <option value="GQ">Equatorial Guinea</option>
                                                            <option value="ER">Eritrea</option>
                                                            <option value="EE">Estonia</option>
                                                            <option value="ET">Ethiopia</option>
                                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                                            <option value="FO">Faroe Islands</option>
                                                            <option value="FJ">Fiji</option>
                                                            <option value="FI">Finland</option>
                                                            <option value="FR">France</option>
                                                            <option value="GF">French Guiana</option>
                                                            <option value="PF">French Polynesia</option>
                                                            <option value="TF">French Southern Territories</option>
                                                            <option value="GA">Gabon</option>
                                                            <option value="GM">Gambia</option>
                                                            <option value="GE">Georgia</option>
                                                            <option value="DE">Germany</option>
                                                            <option value="GH">Ghana</option>
                                                            <option value="GI">Gibraltar</option>
                                                            <option value="GR">Greece</option>
                                                            <option value="GL">Greenland</option>
                                                            <option value="GD">Grenada</option>
                                                            <option value="GP">Guadeloupe</option>
                                                            <option value="GU">Guam</option>
                                                            <option value="GT">Guatemala</option>
                                                            <option value="GG">Guernsey</option>
                                                            <option value="GN">Guinea</option>
                                                            <option value="GW">Guinea-Bissau</option>
                                                            <option value="GY">Guyana</option>
                                                            <option value="HT">Haiti</option>
                                                            <option value="HM">Heard Island and McDonald Islands</option>
                                                            <option value="VA">Holy See (Vatican City State)</option>
                                                            <option value="HN">Honduras</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="HU">Hungary</option>
                                                            <option value="IS">Iceland</option>
                                                            <option value="IN">India</option>
                                                            <option value="ID">Indonesia</option>
                                                            <option value="IQ">Iraq</option>
                                                            <option value="IE">Ireland</option>
                                                            <option value="IM">Isle of Man</option>
                                                            <option value="IL">Israel</option>
                                                            <option value="IT">Italy</option>
                                                            <option value="JM">Jamaica</option>
                                                            <option value="JP">Japan</option>
                                                            <option value="JE">Jersey</option>
                                                            <option value="JO">Jordan</option>
                                                            <option value="KZ">Kazakhstan</option>
                                                            <option value="KE">Kenya</option>
                                                            <option value="KI">Kiribati</option>
                                                            <option value="KR">Korea, Republic of</option>
                                                            <option value="KW">Kuwait</option>
                                                            <option value="KG">Kyrgyzstan</option>
                                                            <option value="LA">Lao People's Democratic Republic</option>
                                                            <option value="LV">Latvia</option>
                                                            <option value="LB">Lebanon</option>
                                                            <option value="LS">Lesotho</option>
                                                            <option value="LR">Liberia</option>
                                                            <option value="LY">Libya</option>
                                                            <option value="LI">Liechtenstein</option>
                                                            <option value="LT">Lithuania</option>
                                                            <option value="LU">Luxembourg</option>
                                                            <option value="MO">Macao</option>
                                                            <option value="MK">Macedonia, Republic of</option>
                                                            <option value="MG">Madagascar</option>
                                                            <option value="MW">Malawi</option>
                                                            <option value="MY">Malaysia</option>
                                                            <option value="MV">Maldives</option>
                                                            <option value="ML">Mali</option>
                                                            <option value="MT">Malta</option>
                                                            <option value="MH">Marshall Islands</option>
                                                            <option value="MQ">Martinique</option>
                                                            <option value="MR">Mauritania</option>
                                                            <option value="MU">Mauritius</option>
                                                            <option value="YT">Mayotte</option>
                                                            <option value="MX">Mexico</option>
                                                            <option value="FM">Micronesia, Federated States of</option>
                                                            <option value="MD">Moldova, Republic of</option>
                                                            <option value="MC">Monaco</option>
                                                            <option value="MN">Mongolia</option>
                                                            <option value="ME">Montenegro</option>
                                                            <option value="MS">Montserrat</option>
                                                            <option value="MA">Morocco</option>
                                                            <option value="MZ">Mozambique</option>
                                                            <option value="MM">Myanmar</option>
                                                            <option value="NA">Namibia</option>
                                                            <option value="NR">Nauru</option>
                                                            <option value="NP">Nepal</option>
                                                            <option value="NL">Netherlands</option>
                                                            <option value="NC">New Caledonia</option>
                                                            <option value="NZ">New Zealand</option>
                                                            <option value="NI">Nicaragua</option>
                                                            <option value="NE">Niger</option>
                                                            <option value="NG">Nigeria</option>
                                                            <option value="NU">Niue</option>
                                                            <option value="NF">Norfolk Island</option>
                                                            <option value="MP">Northern Mariana Islands</option>
                                                            <option value="NO">Norway</option>
                                                            <option value="OM">Oman</option>
                                                            <option value="PK">Pakistan</option>
                                                            <option value="PW">Palau</option>
                                                            <option value="PS">Palestine, State of</option>
                                                            <option value="PA">Panama</option>
                                                            <option value="PG">Papua New Guinea</option>
                                                            <option value="PY">Paraguay</option>
                                                            <option value="PE">Peru</option>
                                                            <option value="PH">Philippines</option>
                                                            <option value="PN">Pitcairn</option>
                                                            <option value="PL">Poland</option>
                                                            <option value="PT">Portugal</option>
                                                            <option value="PR">Puerto Rico</option>
                                                            <option value="QA">Qatar</option>
                                                            <option value="RE">Réunion</option>
                                                            <option value="RO">Romania</option>
                                                            <option value="RU">Russian Federation</option>
                                                            <option value="RW">Rwanda</option>
                                                            <option value="BL">Saint Barthélemy</option>
                                                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                            <option value="KN">Saint Kitts and Nevis</option>
                                                            <option value="LC">Saint Lucia</option>
                                                            <option value="MF">Saint Martin (French part)</option>
                                                            <option value="PM">Saint Pierre and Miquelon</option>
                                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                                            <option value="WS">Samoa</option>
                                                            <option value="SM">San Marino</option>
                                                            <option value="ST">Sao Tome and Principe</option>
                                                            <option value="SA">Saudi Arabia</option>
                                                            <option value="SN">Senegal</option>
                                                            <option value="RS">Serbia</option>
                                                            <option value="SC">Seychelles</option>
                                                            <option value="SL">Sierra Leone</option>
                                                            <option value="SG">Singapore</option>
                                                            <option value="SX">Sint Maarten (Dutch part)</option>
                                                            <option value="SK">Slovakia</option>
                                                            <option value="SI">Slovenia</option>
                                                            <option value="SB">Solomon Islands</option>
                                                            <option value="SO">Somalia</option>
                                                            <option value="ZA">South Africa</option>
                                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                            <option value="SS">South Sudan</option>
                                                            <option value="ES">Spain</option>
                                                            <option value="LK">Sri Lanka</option>
                                                            <option value="SR">Suriname</option>
                                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                                            <option value="SZ">Swaziland</option>
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                                                            <option value="TW">Taiwan, Province of China</option>
                                                            <option value="TJ">Tajikistan</option>
                                                            <option value="TZ">Tanzania, United Republic of</option>
                                                            <option value="TH">Thailand</option>
                                                            <option value="TL">Timor-Leste</option>
                                                            <option value="TG">Togo</option>
                                                            <option value="TK">Tokelau</option>
                                                            <option value="TO">Tonga</option>
                                                            <option value="TT">Trinidad and Tobago</option>
                                                            <option value="TN">Tunisia</option>
                                                            <option value="TR">Turkey</option>
                                                            <option value="TM">Turkmenistan</option>
                                                            <option value="TC">Turks and Caicos Islands</option>
                                                            <option value="TV">Tuvalu</option>
                                                            <option value="UG">Uganda</option>
                                                            <option value="UA">Ukraine</option>
                                                            <option value="AE">United Arab Emirates</option>
                                                            <option value="GB" selected="">United Kingdom</option>
                                                            <option value="US">United States</option>
                                                            <option value="UM">United States Minor Outlying Islands</option>
                                                            <option value="UY">Uruguay</option>
                                                            <option value="UZ">Uzbekistan</option>
                                                            <option value="VU">Vanuatu</option>
                                                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                            <option value="VN">Viet Nam</option>
                                                            <option value="VG">Virgin Islands, British</option>
                                                            <option value="VI">Virgin Islands, U.S.</option>
                                                            <option value="WF">Wallis and Futuna</option>
                                                            <option value="EH">Western Sahara</option>
                                                            <option value="YE">Yemen</option>
                                                            <option value="ZM">Zambia</option>
                                                            <option value="ZW">Zimbabwe</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><label for="Shipping_Address">Shipping Address:</label></td>
                                                    <td>
                                                        <span class="error">*</span>
                                                    </td>
                                                    <td><input required id="Txt_Shipping_Address" type="text" data-fieldname="Shipping Address" name="Shipping_Address" style="width: 270px;" class="required" value="@ViewBag.UserInfor.Shipping_Address"></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><label for="Shipping_Address2">Shipping Address 2:</label></td>
                                                    <td></td>
                                                    <td><input id="Txt_Shipping_Address2" type="text" data-fieldname="Shipping Address 2" name="Shipping_Address2" style="width: 270px;" value="@ViewBag.UserInfor.Shipping_Address2"></td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><label for="Shipping_City">Shipping City:</label></td>
                                                    <td>
                                                        <span class="error">*</span>
                                                    </td>
                                                    <td><input required type="text" data-fieldname="Shipping City" name="Shipping_City" id="Txt_Shipping_City" style="width: 200px;" class="required" value="@ViewBag.UserInfor.Shipping_City"></td>
                                                </tr>
                                                @*<tr class="js-d-bill-wrap">
                                                    <td align="right"><div id="bill_state_label" style="display: inline;">State/Province</div>:</td>
                                                    <td>
                                                        <span id="bill_state_span" class="error"></span>
                                                    </td>
                                                    <td>
                                                        <input type="text" required id="Txt_State" name="State" data-fieldname="State" style="width: 80px; display: inline-block;" class="">
                                                    </td>
                                                </tr>*@
                                                                                    @*<tr class="js-d-zip-wrap">
                                                    <td align="right">
                                                        <label for="bill_zip">
                                                            <span id="bill_zip_label" style="display: inline;">Postal Code</span><span id="bill_zip_delimiter">:</span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <span id="bill_zip_required" class="error">*</span>
                                                    </td>
                                                    <td>
                                                        <div class="js-zip-spinner">
                                                            <input required type="text" data-fieldname="Postal Code" name="PostalCode" id="Txt_PostalCode" style="width: 50px;" class="required js-d-zip-input">
                                                        </div>
                                                    </td>
                                                </tr>*@

                                            </tbody>
                                        </table>
                                        <br>
                                        
                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td align="right">
                                                        <span class="button_css button_checkout"><a id="Btn_CompleteRegistration" style="text-decoration:none; color:#FFFFFF;">Complete Registration</a></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfloat"></div>

                </div>
            </div><!--.panel_628-->
        </div><!-- end col_628 -->

        <!-- Left content panel -->
        <div id="col_280">
            <div class="panel_280">
                <div class="panel_head2">
                    <h3>
                        When &amp; Where
                    </h3>
                </div>
                <div class="panel_body" id="panel_when">
                    <h2 class="location vcard" style="margin-top: 3px;">
                        <br>
                        <b><span class="fn org">@Model.Location_StreetName </span></b><br>
                        <span class="adr">
                            <span class="street-address">
                                @Model.Location_Address<br>
                                @Model.Location_Address2<br>
                            </span>
                            <span class="locality">@Model.Location_City</span>,
                            <span class="region">@Model.Location_State</span> @Model.ZipCode<br>
                            <span class="region">@Model.Country</span><br>
                        </span>
                        <br>
                    </h2>
                    <h2 style="padding-bottom: 0;">
                        <span class="dtstart">
                            @Model.StartDate
                        </span>
                        <span class="dtend">
                            @Model.EndDate
                        </span>
                    </h2>
                    <br>
                </div><!-- end panel_body -->
            </div><!-- end panel_280 -->
            <div id="hostedByDiv" class="panel_280 vcard">
                <div class="panel_head2"><h3>Organizer</h3></div>
                <div id="new_organizer_module" class="panel_body">
                    <div id="organizer_header" class="fn panel_border">
                        <h2>@Model.OrganizationName</h2>
                    </div>

                    <div id="organizer_content">
                        <div id="organizer_profile" class="organizer_link">
                            <a id="profile_link" class="url js-organizer-tracking" href="" target="_blank" data-event-category="checkout" data-event-action="ViewOrgProfile" data-event-label="Under Armour SEA">
                                View organizer profile
                            </a>
                        </div>

                        <div id="organizer_facebook" class="organizer_link">
                            <a class="url" href="" target="_blank" rel="nofollow">
                                facebook.com
                            </a>
                        </div>
                    </div>
                </div><!-- end panel_body -->
            </div><!-- end panel_280 -->
        </div><!-- end col_280 -->
    </div>

    <div class="clearfloat"></div>
    <br><br>
</div><!-- end main -->
<!-- end contentpub -->

