@model Site.OnlineStore.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}
<div id="content" class="clrfix">
    <div class="g-grid global-sub-header l-pad-vert-4 l-sm-pad-vert-3">
        <div class="g-group">
            <div class="g-cell g-cell-12-12 g-cell-md-6-12 g-cell-lg-6-12">
                <h1 class="text-heading-primary text-body--significant">@ViewBag.Title</h1>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="l-pad-bot-5 l-sm-pad-bot-3 g-grid g-group">

            <div class="g-vertical-group g-cell-12-12 g-cell-lg-3-12 l-mar-top-4">
                <div class="g-cell g-cell-3-3">

                    <div class="js-d-toggle">
                        <div class="side-nav side-nav__toggle-view js-xd-toggle-view js-d-accordion">
                            <div class="side-nav__group">
                                <h3 class="js-xd-accordion-header side-nav__header side-nav__header--has-action is-selected">
                                    <i class="ico-settings ico--bullet"></i>Settings
                                </h3>
                                <ul class="js-xd-accordion-content side-nav__subheader">
                                    <li class="">
                                        <a href="@Url.Action("ProfileSetting", "Account")">
                                            Contact Info
                                        </a>
                                    </li>
                                    <li class="is-selected">
                                        <a href="@Url.Action("ChangePassword", "Manage")">
                                            Change Password
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="side-nav__group">
                                <h3 class="js-xd-accordion-header side-nav__header side-nav__header--has-action">
                                    <i class="ico-computer ico--bullet"></i>Developer
                                </h3>
                                <ul class="js-xd-accordion-content side-nav__subheader">
                                    <li class="">
                                        <a href="/myaccount/apps/" data-automation="app-management">
                                            App Management
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/myaccount/webhooks/" data-automation="webhooks">
                                            Webhooks
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="g-vertical-group g-cell-12-12 g-cell-lg-9-12 l-mar-top-4">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="g-cell g-cell-12-12 g-cell-md-12-12 l-mar-top-2">
                        <div>@Html.LabelFor(m => m.OldPassword, new { @class = "label-primary" })</div>
                        <div>
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="g-cell g-cell-12-12 g-cell-md-12-12 l-mar-top-2">
                        <div>@Html.LabelFor(m => m.NewPassword, new { @class = "label-primary" })</div>
                        <div>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="g-cell g-cell-12-12 g-cell-md-12-12 l-mar-top-2">
                        <div>@Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-primary" })</div>
                        <div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="g-cell g-cell-12-12 g-cell-md-12-12 l-mar-top-2">
                        <div></div>
                        <div>
                            <input type="submit" value="Lưu" class="btn" />
                        </div>
                    </div>
                }
                <div class="clearfloat"></div>
            </div><!-- end content -->

        </div>
    </div>
</div>
@section LocalScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
