@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<a class="skip-links js-d-skip-links" href="#skip-heading" dorsal-guid="111a378e-ec93-a834-fa81-3cac6e0f7593" data-xd-wired="skip-links">Skip Main Navigation</a>

<div id="global-header" class="global-header-container logged-out consumer-header" data-role="header" data-id="main-header">
    <div class="global-header js-global-header">
        <div class="major">
            <a class="eb-logo js-d-track-link" href="/Home" data-event-action="LogoHome" data-event-category="header" data-event-label="home" dorsal-guid="48c49fdc-c971-6562-32b5-27816f61a5f9" data-xd-wired="track-link">
                <i class="ico-eventbrite-wordmark ico--color-brand-orange ico--large"></i>
                <span class="is-hidden-accessible">Eventbrite</span>
            </a>

            <div class="gh-dd header-search">
                <div class="search-autocomplete js-header-search-autocomplete is-init">
                    <a href="#" class="hide-large js-header-search-icon mobile-action-b" title="Search">
                        <i class="ico-search-v2 header-search-icon"></i>
                        <span class="is-hidden-accessible">Search menu</span>
                    </a>
                    <div class="search-autocomplete__query-input js-search-query-area show-large">
                        <div class="responsive-form__input--icon js-d-clearable-input">
                            <label for="q" class="is-hidden-accessible">Search for events</label>
                            <div class="responsive-form__input--icon__container show-large">
                                <i class="ico-search-v2 js-search-query-icon"></i>
                            </div>
                            <input type="search" class="js-search-query-input ui-autocomplete-input" data-automation="search-input" id="Txt_EventSearchBox" placeholder="Search for events">
                            <div class="responsive-form__input--icon__container close-button hide-large is-hidden">
                                <a href="#" class="js-clear-input">
                                    <i class="ico-cross"></i><span class="is-hidden-accessible">x</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 3; display: none;"></ul>
                </div>
                <input type="hidden" name="mode" value="search">
            </div>
        </div>
        <div class="minor">

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", @style = "margin:0!important;" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="gh-dd gh-profile-box js-gh-dd">
                        <a class="header-link user-avatar js-gh-action user-avatar-no-img" onclick="if (!window['_EB_GLOBAL_HEADER_INITED']) { document.getElementById('js-global-nav-account-menu').className += ' js-gh-dd-menu--show'; return false; }">
                            <i class="user-avatar-icon ico-avatar"><span class="is-hidden-accessible">Profile</span></i>
                            <span class="user-name">@Html.Raw(User.Identity.GetUserName())</span>
                            <i class="user-name ico-arrow-tail-down"><span class="is-hidden-accessible">Down Arrow</span></i>
                        </a>
                        <div class="gh-dd-menu on-right js-gh-dd-menu" id="js-global-nav-account-menu">
                            <ul class="list">
                                <li>
                                    <a href="#" class="js-d-track-link g-group">
                                        <span class="g-cell g-cell-2-3 g-cell--no-gutters">
                                            Tickets
                                        </span>
                                        <span class="g-cell g-cell-1-3 l-align-right">1</span>
                                    </a>
                                    <a href="#" class="g-group js-d-track-link">
                                        <span class="g-cell g-cell-2-3 g-cell--no-gutters">
                                            Saved
                                        </span>
                                        <span class="g-cell g-cell-1-3 l-align-right">0</span>
                                    </a>
                                </li>
                                @*<li class="list--with-divider-top">
                                    <a href="#" class="js-d-track-link">
                                        Manage Events
                                    </a>
                                </li>*@
                                <li class="list--with-divider-top">
                                    <a href="@Url.Action("Details","Organiser")" class="js-d-track-link">
                                        Organiser Profile
                                    </a>
                                </li>
                                @*<li>
                                    <a href="#" class="js-d-track-link">
                                        Contacts
                                    </a>
                                </li>*@
                                <li>
                                    <a href="@Url.Action("ProfileSetting","Account")" class="js-d-track-link">
                                        Account Settings
                                    </a>
                                </li>
                                <li class="list--with-divider-top">
                                    <a class="js-d-track-link" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </li>
                                <li class="list--btn hide-large"></li>
                            </ul>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="gh-dd global-header__browse-events show-large text--truncated">
                    <a href="#" class="header-link gh-discover js-d-track-link js-xd-janus-checkpoint-link" data-checkpoint-name="discover_header_link_clicked" data-event-action="Discover" data-event-category="header" data-event-label="home" dorsal-guid="54e739b2-cd62-fecc-265b-c05f223d17b1" data-xd-wired="track-link">
                        Browse Events
                    </a>
                </div>
                <a class="js-modal-auth js-d-track-link header-link" data-toggle="modal" href="#" id="registerLink">Sign up</a>
                <a class="header-link primary-link js-d-track-link js-modal-auth show-large" data-toggle="modal" href="#" id="loginLink">Login</a>
            }
            <div class="hide-small hide-medium gh-dd">
            </div>
        </div>
    </div>
</div>

<div id="modalLogin" class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <p class="l-mar-top-1 text-center">
                    <a id="switch-to-signup" class="js-switch-to-signup mfp-prevent-close js-d-track-event" href="#" data-toggle="modal">Or, sign up.</a>
                </p>

                @Html.Action("Login", "Account")
            </div>
        </div>
    </div>
</div>

<div id="modalRegister" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign up</h4>
            </div>
            <div class="modal-body">
                <p class="l-mar-top-1 text-center">
                    Already have an account? <a id="switch-to-login" class="js-switch-to-login mfp-prevent-close js-d-track-event" href="#" data-toggle="modal">Log in.</a>
                </p>

                @Html.Action("Register", "Account")
            </div>
        </div>
    </div>
</div>