<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTK – Our Experience drives us forward</title>
    <script src="~/Scripts/home/wp-emoji-release.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/common/frontend.css" rel="stylesheet" />
    <link href="~/Content/home/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/icons.data.svg.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/css/base_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/global_header.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home_consumer.css">
    <script src="~/Scripts/js/8095t6t28384.js"></script>
    <script src="~/Scripts/js/analytics.js"></script>
    <script src="~/Scripts/js/api.js"></script>
    <script src="~/Scripts/js/conversion.js"></script>
    <script src="~/Scripts/js/bat.js"></script>
    @*<script src="~/Scripts/js/fbevents.js"></script>*@
    <script src="~/Scripts/js/ga.js"></script>
    <script src="~/Scripts/js/gtm.js"></script>
    @*<script src="~/Scripts/js/pd.js"></script>*@
    <script src="~/Scripts/js/recaptcha__en.js"></script>
    @*<script src="~/Scripts/js/roundtrip.js"></script>*@

    <!--[if lt IE 10]>
    <link rel='stylesheet' id='cotec-ie-css'  href='~/Content/common/ie.css' type='text/css' media='all' />
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='cotec-ie8-css'  href='~/Content/common/ie8.css' type='text/css' media='all' />
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel='stylesheet' id='cotec-ie7-css'  href='~/Content/common/ie7.css' type='text/css' media='all' />
    <![endif]-->

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/home/jquery-migrate.min.js"></script>
    <script src="~/Scripts/home/front.js"></script>
    <script src="~/Scripts/home/chosen.jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script type='text/javascript' src='~/Scripts/common/html5.js'></script>
    <![endif]-->

    <base href=".">
    <link rel="shortcut icon" href="http://www.coteccons.vn/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://www.coteccons.vn/favicon.ico" type="image/x-icon">
    <link href="~/Content/home/main-layout.css" rel="stylesheet" />
    <link href="~/Content/common/custom.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/common/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/common/owl.theme.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="~/Scripts/common/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->

    @RenderSection("LocalStyles", required: false)
    <script src="~/Scripts/home/jquery.form.min.js"></script>
    <script src="~/Scripts/home/scripts.js"></script>
    <script src="~/Scripts/home/skip-link-focus-fix.js"></script>
    <script src="~/Scripts/home/wp-embed.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/home/w3danima.js"></script>
    <script src="~/Scripts/home/owl.carousel.js"></script>
    <script src="~/Scripts/home/jquerys.min.js"></script>
    <script src="~/Scripts/home/jquery-ui.js"></script>
    <script src="~/Scripts/home/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/home/jquery.hc-sticky.js"></script>
    @RenderSection("LocalScripts", required: false)

</head>
<body>
    @Html.Partial("_HeaderPartial")

    @RenderBody()
    
    @RenderPage("_FooterPartial.cshtml")

</body>
</html>